Bitworks.json
{
  "name": "Bitworks",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1376,
        -784
      ],
      "id": "a2b77448-a94c-46bb-9344-afbbde3dd254",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1376,
        -272
      ],
      "id": "7557bf77-8a7f-4e48-acd0-0c5cbdba20f3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TXrG7K6EKyUg7KDz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1648,
        -272
      ],
      "id": "4d07e4ca-5eee-4cce-935e-e100191af434",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "TXrG7K6EKyUg7KDz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('/message').item.json.body.answer_ep }}?session_id={{ $('/message').item.json.body.session_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1808,
        -784
      ],
      "id": "2aa71631-23ad-4462-8010-77f6baa00817",
      "name": "/answer"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "message",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1104,
        -784
      ],
      "id": "83656654-f156-4b6a-81f2-daebc5a953df",
      "name": "/message",
      "webhookId": "6edb540a-b3ba-47dc-9c34-43ec87bdbc2d"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.session_id }}",
        "tableName": "communication",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1472,
        -496
      ],
      "id": "03c40198-cb7f-4399-80fc-d8c947c03bd0",
      "name": "Communications",
      "credentials": {
        "postgres": {
          "id": "HLNVs20j5SmVtbIp",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Contiene la información de la empresa",
        "pineconeIndex": {
          "__rl": true,
          "value": "bitworks",
          "mode": "list",
          "cachedResultName": "bitworks"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1648,
        -496
      ],
      "id": "e2319b20-317b-49c9-9167-230dfe647008",
      "name": "Client",
      "credentials": {
        "pineconeApi": {
          "id": "URiwe5gb5HHyDZaK",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Utiliza esta herramienta para obtener la lista de productos disponibles",
        "url": "={{ $('/message').item.json.body.product_ep }}?session_id={{ $('/message').item.json.body.session_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1520,
        -1024
      ],
      "id": "1c228ed1-245e-40ac-a226-d1056c64102b",
      "name": "get_products"
    },
    {
      "parameters": {
        "toolDescription": "Utiliza esta herramienta para obtener las reglas de estricto cumplimiento en la elaboración de las respuestas",
        "url": "={{ $('/message').item.json.body.rule_ep }}?session_id={{ $('/message').item.json.body.session_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1392,
        -1024
      ],
      "id": "f6224f47-3895-47de-8cbb-c8073b0887b4",
      "name": "get_rules"
    },
    {
      "parameters": {
        "toolDescription": "Utiliza esta herramienta para obtener la información general del negocio y/o empresa",
        "url": "={{ $('/message').item.json.body.client_ep }}?session_id={{ $('/message').item.json.body.session_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        1264,
        -1024
      ],
      "id": "4dfb9f21-14e3-472f-bbcf-cde3790796ac",
      "name": "get_business"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Client",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "/answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "/message": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Communications": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_products": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_rules": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_business": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2e1e0dbd-fd76-46fe-8acc-6f7f1c42a6f0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "079be7637e9e42966fac5613f4c8bd7d68883972bb320675d1c1fc56afb18fb1"
  },
  "id": "L7ymDLnP4Or0LVEi",
  "tags": []
}