Bitworks.json
{
  "name": "Bitworks",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.prompt }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        176,
        -16
      ],
      "id": "4580c166-25d9-45fe-9b0a-9730658c9033",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        176,
        208
      ],
      "id": "698b82e5-9073-429d-930f-9346b02a39aa",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3eQyrgnDJrvCtthx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        400
      ],
      "id": "e80f35d1-7333-476b-a09e-84ff3cde9fbf",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "3eQyrgnDJrvCtthx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        208,
        768
      ],
      "id": "d3a8e4dc-bbc4-4b99-a3d8-2f78e743ede0",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "3eQyrgnDJrvCtthx",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.value }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        320,
        768
      ],
      "id": "a44cec1d-7f7b-4bd5-a4a7-56431ed52be6",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        320,
        960
      ],
      "id": "59c08d20-bdd4-41f5-ac89-277f5e70e253",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Llamar a esta herramienta cuando se necesiten conocer la descripción de la empresa",
        "pineconeIndex": {
          "__rl": true,
          "value": "bitworks",
          "mode": "list",
          "cachedResultName": "bitworks"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        208
      ],
      "id": "e7155a01-7b84-4dc4-acfc-fb2561c370fc",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "yOaJo3BOhn1pyoQg",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "bitworks",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        208,
        560
      ],
      "id": "e125c266-6bad-42a4-83fa-81164e67c795",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "yOaJo3BOhn1pyoQg",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "url": "http://192.168.1.100:8000/api/attributes/client/1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        560
      ],
      "id": "dd24329b-e979-4ad9-871c-03f4b28ac55c",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "message",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -80,
        -16
      ],
      "id": "8c16a8cc-d46a-438e-bc34-41ce2f3299cb",
      "name": "Webhook",
      "webhookId": "6edb540a-b3ba-47dc-9c34-43ec87bdbc2d"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.session_id }}",
        "tableName": "communication",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        272,
        208
      ],
      "id": "748f5b23-4060-4b07-be54-364783cb2e6b",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "XqXXsueusz5jy5Dk",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Webhook').item.json.body.answer_ep }}?session_id={{ $('Webhook').item.json.body.session_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        -16
      ],
      "id": "03e88eb0-46cc-46fb-9a82-d865d50be9b0",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b8e83a0f-bc37-4798-8281-49edbff9d2f5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6b1343ba1a2ad347513cf45245e3a3580113a0c2ec0aa265ceb36b0d1ddf0fd"
  },
  "id": "opOILnwfwKEZ2Xel",
  "tags": []
}